
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.logo img{
    width: 400px;
    height: auto;
    margin-bottom: -20px;
    
    margin-left: calc(-48vw + 50%);
}

body {
    background-color: #ffffff; 
    padding: 30px;
    display: flex;
    justify-content: center;
    color: #1b1818;
}

.container {
    width: 100%;
    max-width: 1200px;
}

header {
    margin-bottom: 30px;
}

header h1 {
    font-size: 4.5rem;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.info-bar p {
    display:flex;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffffff;
}

.info-bar {
    background-color: #8a8a8a;
    border: 0px solid #33b5e5;
    text-align: center;
    margin-bottom: 40px;
    width: 100vw; 
    margin-left: calc(-50vw + 50%);
    padding: 0px 40px;
   
}

.control-box {
    background-color: #fefefe;
    border: 3px solid #020202;
    padding: 12px 30px;
    text-align: center;
    cursor: pointer;
    min-width: 180px;
}

.top-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: calc(-48vw + 50%);
}

.right-controls {
    display: flex;
    gap: 20px;
    cursor: pointer;
}


.date-box {
    min-width: 200px;
}


.records-list {
    display:calc(-50vw + 50%);
    flex-direction: column;
    gap: 30px;
}

.datu-rinda {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.data-box {
    background-color: #fff;
    border: 3px solid #666;
    flex: 1 ;
    padding: 10px;
    border-radius: 10px;
    
    text-align: center;
    font-weight: normal;
}

.status-ind {
    width: 100px;
     
    padding: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border: 3px solid;
}

.status-txt {
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 1.2;
}

.green {
    background-color: #dffee2;
    border-color: #fdd615;
}

.red {
    background-color: #1bcef7;
    border-color: #1591fd;
}